[submodule "Submodules/xcconfig"]
	path = Submodules/xcconfig
	url = https://github.com/macmade/xcconfig.git
[submodule "Submodules/XSTest"]
	path = Submodules/XSTest
	url = https://github.com/macmade/XSTest.git
[submodule "Submodules/BoringSSL"]
	path = Submodules/BoringSSL
	url = https://github.com/macmade/BoringSSL.git
